body {
  margin: 0;
  background-color: #F3F3FB;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.price-card {
  background-color: white;
  width: 240px;
  margin: 1rem;
  padding: 2.5rem 2rem;
  border-radius: 10px;
}

.free {
  color: #242C44;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pro {
  background-color: #242C44;
  color: rgba(255, 255, 255, 0.932);
}

.card-body {
  padding: 0rem 1.5rem;
}

p {
  font-size: .8rem;
  margin: 0;
  margin-top: .5rem;
}

.free p {
  color: rgb(128, 128, 128);
}

.pro p {
  color: rgb(128, 128, 128);
}

h1,
h4 {
  margin: 0;
}

h1 {
  margin: 1.5rem 0rem;
}

img {
  width: 8%;
  margin: 0;
}

span {
  margin: 0;
  padding: 0;
}

ul {
  list-style-position: inside;
  margin: 0;
  padding: 0;
  margin-top: 4rem;
}

ul li {
  margin-bottom: 1rem;
  font-size: .8rem;
}


.btn {
  width: 100%;
  border: none;
  padding: .9rem;
  font-size: .9rem;
  border-radius: 25px;
}

.btn-free {
  margin-top: 5.5rem;
  background-color: #242C44;
  color: white;

}

.btn-pro {
  margin-top: 1rem;
  background-color: white;
  color: #242C44;
}